* {
  margin: 0;
  padding: 0;
}
:root {
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
}
.main {
  padding: 16px;
  display: flex;
  justify-content: center;
}

body {
  background-image: url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center, bottom center;
}
.first-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: var(--VeryDarkMagenta);
  font-family: "Josefin Sans", sans-serif;
  line-height: 30px;
  font-weight: 700;
  font-size: 35px;
  margin: 67px 50px 0 50px;
  text-align: center;
}
.head-content {
  color: var(--DarkGrayishMagenta);
  font-family: "Josefin Sans", sans-serif;
  line-height: 25px;
  font-weight: 500;
  margin: 25px 15px;
  font-size: 17px;
  text-align: center;
}
.review {
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
  gap: 20px;
}
.review1 {
  background-color: var(--LightGrayishMagenta);
  padding: 25px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.review2 {
  background-color: var(--LightGrayishMagenta);
  padding: 25px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.review3 {
  background-color: var(--LightGrayishMagenta);
  padding: 25px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.review-rate {
  color: var(--VeryDarkMagenta);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.second-container {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  gap: 20px;
}
.first-review {
  background-color: var(--VeryDarkMagenta);
  color: var(--White);
  border-radius: 10px;
  padding: 25px;
}
.person1 {
  display: flex;
  padding: 10px;
}
.person-details {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}

img[alt="person1"] {
  border-radius: 50%;
  width: 45px;
}
.name {
  color: var(--White);
  font-family: "Josefin Sans", sans-serif;

  font-weight: 700;
  padding: 2px;
}
.name-content {
  color: var(--SoftPink);
  font-family: "Josefin Sans", sans-serif;
  line-height: 20px;
  font-weight: 300;
  font-size: 15px;
}
.person1-desc {
  margin: 15px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 22px;
  color: var(--White);
  font-weight: 500;
  font-size: 17px;
}

@media (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  body{
    background-image: url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: 48%,80%;
  }


  .container {
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .first-container {
    flex-direction: row;
  }
  .top-heading {
    width: 50%;
    flex-direction: column;
  }
  .heading {
    margin-left: 12%;
    width: 30vw;
    font-size: 4vw;
    text-align: left;
    line-height: 3.6vw;
  }
  .head-content {
    width: 38vw;
    font-size: 1.4vw;
    text-align: left;
    line-height: 1.7vw;
    margin-left: 12%;
  }
  .review {
    width: 50%;
    flex-direction: column;
    margin-top: 75px;
  }
  img[alt="star-image"] {
    padding: 2px;
    width: 1vw;
  }
  .image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .review-rate {
    font-size: 1.1vw;
    margin-right: 35px;
  }
  .review1,
  .review2,
  .review3 {
    padding: 1.3vw;
    width: 30vw;
    flex-direction: row;
  }
  .review2 {
    margin-left: 4vw;
  }
  .review3 {
    margin-left: 8vw;
  }
  .second-container {
    flex-direction: row;
    margin-left: 4%;
    margin-top: 4%;
    margin-right: 4vw;
    gap: 0;
  }
  .first-review {
    padding: 2vw;
    margin-left: 2.5%;
  }
  .first {
    width: 25%;
    height: 65%;
  }
  .second {
    width: 25%;
    height: 65%;
    margin-top: 10px;
  }
  .third {
    width: 25%;
    height: 65%;
    margin-top: 20px;
  }
  img[alt="person1"] {
    width: 3.3vw;
    border-radius: 50%;
  }
  .person-details {
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 6px;
    padding: 0;
  }
  .name {
    margin-right: 10px;
    font-size: 1vw;
  }
  .name-content {
    padding: auto;
    line-height: 0;
    margin-top: 5px;
    font-size: 1vw;
  }
  .person1-desc {
    font-size: 1vw;
    line-height: 1.6vw;
    margin: 0;
    margin-left: 7px;
  }
  .person1 {
    margin: 0;
  }
}
